@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb;
  /* light mode fallback */
}

/* Base dark mode fallback */
html.dark body {
  background-color: #111827;
}

#root {
  width: 100%;
  min-height: 100vh;
}